header {}
#logo {margin:20px auto;display:block;}
p {margin-top:22px;}
label {}
table td {text-align:left;}
table.results {border-collapse: collapse;}
table.results td {border:1px solid;}
#dupes, #missing {display:none;border:1px solid;padding:10px;}
#tabs div {overflow:scroll;}